---
import Logo from '../assets/logo.svg'
import LanguagePicker from './LanguagePicker.astro'
---

<div class="h-15 bg-dark px-4 w-screen">
  <div class="w-full h-full mx-auto max-w-7xl flex items-center justify-between">
    <Logo class="h-9"/>
    <div class="text-white">
      <LanguagePicker />
    </div>
  </div>
</div>