---
import Speech from "../assets/speech.svg";
const { t } = Astro.locals;
---

<div class="py-38">
  <div class="flex flex-col items-center mx-auto max-w-7xl gap-y-30">
    <div class="flex flex-col gap-12 items-center mx-auto max-w-145">
      <h2 class="text-5xl font-bold text-center">
        <span class="inline px-4 leading-[normal] text-white bg-dark line-box">
          {t("ceo.heading")}
        </span>
      </h2>
    </div>

    <!-- Video -->
    <div class="w-full max-w-4xl aspect-video bg-gray">{t("ceo.videoPlaceholder")}</div>

    <!-- Book consultation -->
    <div class="flex flex-col gap-y-12 mx-auto max-w-165">
      <div class="flex gap-6 items-center">
        <!-- Icon -->
        <Speech />

        <div class="space-y-2">
          <p class="text-5xl font-bold">{t("ceo.book")}</p>
          <p class="font-serif text-2xl font-bold">
            {t("ceo.orDirect")} <a href="mailto:erton@erton.se" class="underline text-yellow">erton@erton.se</a>
          </p>
        </div>
      </div>

      <a
        class="px-6 py-2 mx-auto font-bold uppercase rounded-sm bg-yellow"
        href="#contact-us"
      >
        {t("ceo.cta")}
      </a>
    </div>
  </div>
</div>
