---
import SwFlag from "../assets/svgs/sw-flag.svg";
import Profile from "../assets/svgs/profile.svg";
import Key from "../assets/svgs/key.svg";
const { t } = Astro.locals;
---

<div class="py-35 md:py-55 bg-gray">
  <div class="flex max-md:flex-col max-md:items-center md:justify-center px-4 mx-auto max-w-7xl gap-y-12 md:gap-25">
    <h2 class="text-[38px] md:text-5xl font-bold text-center leading-[normal] max-md:max-w-100">
      <span class="inline px-4 text-white bg-dark line-box">
        {t("leaders.heading")}
      </span>
    </h2>

    <div class="flex flex-col gap-y-12 md:gap-y-17.5">
      <div class="flex max-md:flex-col max-md:gap-y-8 md:gap-10 items-center">
        <SwFlag class="size-22.5" />

        <div class="space-y-3 max-w-105 max-md:text-center">
          <p class="font-serif text-xl font-bold">{t("leaders.pmTitle")}</p>
          <p class="font-serif italic leading-[110%]">{t("leaders.pmDesc")}</p>
        </div>
      </div>

      <div class="flex max-md:flex-col max-md:gap-y-8 md:gap-10 items-center">
        <Key class="size-22.5" />

        <div class="space-y-3 max-w-105 max-md:text-center">
          <p class="font-serif text-xl font-bold">{t("leaders.kamTitle")}</p>
          <p class="font-serif italic leading-[110%]">{t("leaders.kamDesc")}</p>
        </div>
      </div>

      <div class="flex max-md:flex-col max-md:gap-y-8 md:gap-10 items-center">
        <Profile class="size-22.5" />

        <div class="space-y-3 max-w-105 max-md:text-center">
          <p class="font-serif text-xl font-bold">{t("leaders.seniorTitle")}</p>
          <p class="font-serif italic leading-[110%]">{t("leaders.seniorDesc")}</p>
        </div>
      </div>
    </div>
  </div>
</div>
